:root{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --blue:#0d6efd;
}
body{
    line-height: 1.618;
}
.c{
    max-width: 60em;
    padding: 1.2em;
    margin: auto;
}
p{
    font-size:16px;
}
.btn{
    color: var(--blue);
    background-color: white;
    border: solid var(--blue);
    padding: 6px 10px;
    margin: 4px;
    font-size: calc(0.5vh + 10px);
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.pri{
    color: white;
    background-color:var(--blue);
}
hr{
    border: 1px solid var(--blue);
}
h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.2;
}
@media screen and (min-width:576px){
h1{
    font-size: calc(5vh - 8px);
}
h2{
    font-size: calc(4vh - 8px);
}
h3{
    font-size: calc(3.5vh - 8px);
}
h4{
    font-size: calc(3.2vh - 10px);
}

.col-2 {
    flex: 0 0 auto;
    width: 16.666%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.666%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.666%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.666%;
}}
a:not(.btn){
    color: var(--blue);
}
table{
    width: 100%;
}
td, th {
    padding: 0.7em;
    text-align: left;
    border-bottom: solid #ddd;
    font-size: 16px;
}
a{
    text-decoration: none;
}
input,.btn,.card{
    border-radius: 5px;
}
input:focus{
    outline: 1.618px solid var(--blue);
    /*box-shadow: 0 0 1.618px 4px skyblue;*/
}
input{
    display: block;
    padding: 6px 10px;
    font-size: 1em;
    line-height: 1.618;
    border: 1px solid #ced4da;
    margin: 12px 0;
    width: 95%;
}
.card{
    border: solid #d8d8d8;
    margin-bottom: 1.25em;
    padding: 1.25em;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/*@media (min-width: 576px){ 
    .col-2 {
        flex: 0 0 auto;
        width: 16.666%;
    }
    .col-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .col-4 {
        flex: 0 0 auto;
        width: 33.333%;
    }
    .col-5 {
        flex: 0 0 auto;
        width: 41.666%;
    }
    .col-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-7 {
        flex: 0 0 auto;
        width: 58.333%;
    }

    .col-8 {
        flex: 0 0 auto;
        width: 66.666%;
    }

    .col-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-10 {
        flex: 0 0 auto;
        width: 83.333%;
    }

    .col-11 {
        flex: 0 0 auto;
        width: 91.666%;
    }
}*/