/*root*/
:root{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /*color*/
    --main:#0d6efd;
    
    --pri:#0d6efd;
    --warn:rgb(255,193,7);
    --success:rgb(25,135,84);
    --info:rgb(13,202,240);
    --gray:rgb(108,117,125);
}
*{
    box-sizing: border-box;
}
body{
    line-height: 1.618;
}
.c{
    max-width: 60em;
    padding: 1.2em;
    margin: auto;
}
.c[data-theme=dark]{
    background-color:#111;
    color:#eee;
}
p{
    font-size:16px;
}
.btn{
    color: var(--main);
    background-color: white;
    padding: 6px 10px;
    margin: 4px;
    font-size: calc(0.5vh + 10px);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none
}
.btn:not(.pri,.warn,.info,.success){
    border: 1px solid var(--gray);
}
/*color*/
.pri,.warn,.info,.success{
    color: white;
}
.pri{
    background-color:var(--pri);
}
.warn{
    background-color:var(--warn);
} 
.info{
    background-color:var(--info);
} 
.success{
    background-color:var(--success);
} 
hr{
    border: 1px solid var(--main);
}
/*tool*/
.p-1{
    padding:5px
}
.p-2{
    padding:10px
}
.p-3{
    padding:15px
}
h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.2;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}
@media screen and (min-width:576px){
h1{
    font-size: calc(5vh - 8px);
}
h2{
    font-size: calc(4vh - 8px);
}
h3{
    font-size: calc(3.5vh - 8px);
}
h4{
    font-size: calc(3.2vh - 10px);
}
.col {
    flex: 1 0 0%;
}
.col-1 {
    flex: 0 0 auto;
    width: 8.333%;
}
.col-2 {
    flex: 0 0 auto;
    width: 16.666%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.666%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.666%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.666%;
}
[class^=col]{
    padding:0 50px;
}}
a:not(.btn){
    color: var(--main);
}
table,input,.w-100{
    width: 100%;
}
td, th {
    padding: 0.7em;
    text-align: left;
    border-bottom: solid #ddd;
    font-size: 16px;
}
a{
    text-decoration: none;
}
input,.btn,.card,textarea{
    border-radius: 5px;
}
:is(input,textarea):focus{
    border: 1.618px solid var(--main);
    outline:0;
}
input{
    display: block;
    padding: 6px 10px;
    font-size: 1em;
    line-height: 1.618;
    border: 1px solid #ced4da;
    margin: 12px 0;
}
.card{
    border: solid #d8d8d8;
    margin-bottom: 1.25em;
    padding: 12px;
}
