.dark{
    filter: invert(100%);
    background-color:black;
}
.dark img{
    filter: invert(100%);
}
.c{
    max-width: 60em;
    padding: 1.2em;
    margin: auto;
}
p{
    font-size:16px;
}
.btn{
    color: var(--blue);
    background-color: white;
    border: solid var(--blue);
    padding: 6px 10px;
    margin: 4px;
    font-size: calc(0.5vh + 10px);
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.pri{
    color: white;
    background-color:var(--blue);
}
hr{
    border: solid var(--blue);
}
h1,
h2,
h3,
h4 {
    font-weight: 300;
}
@media screen and (min-height:900px){
h1{
    font-size: calc(5vh - 8px);
}
h2{
    font-size: calc(4vh - 8px);
}
h3{
    font-size: calc(3.5vh - 8px);
}
h4{
    font-size: calc(3.2vh - 10px);
}}
:root{
    font-family: system-ui, Helvetica, sans-serif;
    --blue:#0d6efd;
}
body{
    line-height: 1.5;
}
a:not(.btn){
    color: var(--blue);
}
td, th {
    padding: 0.7em;
    text-align: left;
    border-bottom: solid #aaa;
    font-size: 16px;
}
a{
    text-decoration: none;
}
input,.btn{
    border-radius: 5px;
}
input:focus{
    border: 3px solid var(--blue);
}
input{
    display: block;
    padding: .375rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    border: 1px solid #ced4da;
    margin: 12px 0;
    outline: 0;
}
.card{
    border: solid #d8d8d8;
    margin-bottom: 1.25em;
    padding: 1.25em;
    background: #dff;
}
