strong{
    color:red;
}
.c{
    max-width: 62em;
    padding: 1.2em;
    margin: auto;
}
.btn{
    border: none;
    color: white;
    background-color:var(--blue);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    padding: 10px;
}
hr{
    border: solid var(--blue);
}
h1{
    font-size: 5vh;
}
h2{
    font-size: 4vh;
}
h3{
    font-size: 3.4vh;
}
h4{
    font-size: 3vh;
}
h5{
    font-size: 2.6vh;
}
h6{
    font-size: 2vh;
}
:root{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    --blue:#0d6efd;
}
body{
    line-height: 1.6;
}
a:not(.btn){
    text-decoration: none;
    color: var(--blue);
}
td, th {
    padding: 1em;
    text-align: left;
    border-bottom: solid #eee;
}
