mark{
    background-color:blue;
}
strong{
    color:red;


}
button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:15px
}
h1{
    font-size:40px;
}
h2{
    font-size:35px
}
body{
}
